<!DOCTYPE html>
<html>
<head>
<title>Degrees of Kevin Bacon</title>
<style type="text/css">
  body {
    font-family: sans-serif;
    text-align: center;
    background-color: #ccccff;
  }
  
  #inputfield {
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 5px;
  }
  
  #inputbutton {
    border-radius: 5px;
    width: 100px;
    background-color: white;
    border-image: none;
  }
</style>
</head>

<body>
<div class="header">
  <div class="container">
    <h1>Degrees of Kevin Bacon</h1>
    <p>This is a simple Python application that finds the path between an actress/actor and Kevin Bacon given a small set of film data.</p>
    <p>
  </div>
</div>

<div>
  <form name="form" action = "{% url 'input' %}" method="post">
{% csrf_token %}
	  Please enter the name of an actress/actor<br>
	  <input id="inputfield" type="text" name="actorname" placeholder="Kevin Bacon"><br>
	  <input id="inputbutton" type="submit" value="Go">
  </form>
</div>
{{ message }}
{% block content %}{% endblock %}

</body>
</html>

